<!-- -*- xml -*- -->
<launch>
    <node name="MotionSeg_main"
          pkg="laser_detection"
          type="MotionSeg_main"
          required="true"
          output="screen" />

<!--    <node name="DynCloudSegmentation_main"
          pkg="laser_detection"
          type="DynCloudSegmentation_main"
          required="true"
          output="screen" />
-->
