<!-- -*- xml -*- -->
<launch>
    <node name="DynImageSegmentation_main"
          pkg="laser_detection"
          type="DynImageSegmentation_main"
          required="true"
          output="screen" />
    <node name="DynCloudSegmentation_main"
          pkg="laser_detection"
          type="DynCloudSegmentation_main"
          required="true"
          output="screen" />
